#XfceNotifyWindow {
    background-color: #393939;
    border: 2px solid #747369;
    padding: 2em;
    color: #d3d0c8;
}

#XfceNotifyWindow:hover {
    background-color: #515151;
    color: #e8e6df;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #f2f0ec;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #d3d0c8;
}

#XfceNotifyWindow button:hover {
    background-color: #747369;
}
