#XfceNotifyWindow {
    background-color: #ebdbb2;
    border: 2px solid #bdae93;
    padding: 2em;
    color: #504945;
}

#XfceNotifyWindow:hover {
    background-color: #d5c4a1;
    color: #3c3836;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #282828;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #504945;
}

#XfceNotifyWindow button:hover {
    background-color: #bdae93;
}
