#XfceNotifyWindow {
    background-color: #36312e;
    border: 2px solid #666666;
    padding: 2em;
    color: #8a8986;
}

#XfceNotifyWindow:hover {
    background-color: #5e5d5c;
    color: #9d9b97;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #baae9e;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #8a8986;
}

#XfceNotifyWindow button:hover {
    background-color: #666666;
}
