#XfceNotifyWindow {
    background-color: #404040;
    border: 2px solid #4f4f4f;
    padding: 2em;
    color: #dcdccc;
}

#XfceNotifyWindow:hover {
    background-color: #606060;
    color: #c0c0c0;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #ffffff;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #dcdccc;
}

#XfceNotifyWindow button:hover {
    background-color: #4f4f4f;
}
