#XfceNotifyWindow {
    background-color: #e5ebf1;
    border: 2px solid #aabcce;
    padding: 2em;
    color: #405c79;
}

#XfceNotifyWindow:hover {
    background-color: #cbd6e2;
    color: #223b54;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #0b1c2c;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #405c79;
}

#XfceNotifyWindow button:hover {
    background-color: #aabcce;
}
