#XfceNotifyWindow {
    background-color: #343d46;
    border: 2px solid #65737e;
    padding: 2em;
    color: #c0c5ce;
}

#XfceNotifyWindow:hover {
    background-color: #4f5b66;
    color: #dfe1e8;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #eff1f5;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #c0c5ce;
}

#XfceNotifyWindow button:hover {
    background-color: #65737e;
}
