#XfceNotifyWindow {
    background-color: #1c3f95;
    border: 2px solid #737171;
    padding: 2em;
    color: #d9d8d8;
}

#XfceNotifyWindow:hover {
    background-color: #5a5758;
    color: #e7e7e8;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #ffffff;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #d9d8d8;
}

#XfceNotifyWindow button:hover {
    background-color: #737171;
}
