#XfceNotifyWindow {
    background-color: #2e2f30;
    border: 2px solid #737475;
    padding: 2em;
    color: #b7b8b9;
}

#XfceNotifyWindow:hover {
    background-color: #515253;
    color: #dadbdc;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #fcfdfe;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #b7b8b9;
}

#XfceNotifyWindow button:hover {
    background-color: #737475;
}
