#XfceNotifyWindow {
    background-color: #223b54;
    border: 2px solid #627e99;
    padding: 2em;
    color: #cbd6e2;
}

#XfceNotifyWindow:hover {
    background-color: #405c79;
    color: #e5ebf1;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #f7f9fb;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #cbd6e2;
}

#XfceNotifyWindow button:hover {
    background-color: #627e99;
}
