#XfceNotifyWindow {
    background-color: #302e00;
    border: 2px solid #6c6823;
    padding: 2em;
    color: #948e48;
}

#XfceNotifyWindow:hover {
    background-color: #5f5b17;
    color: #ccc37a;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #faf0a5;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #948e48;
}

#XfceNotifyWindow button:hover {
    background-color: #6c6823;
}
