#XfceNotifyWindow {
    background-color: #2a3448;
    border: 2px solid #717885;
    padding: 2em;
    color: #b8bbc2;
}

#XfceNotifyWindow:hover {
    background-color: #4d5666;
    color: #dbdde0;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #ffffff;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #b8bbc2;
}

#XfceNotifyWindow button:hover {
    background-color: #717885;
}
