#XfceNotifyWindow {
    background-color: #4a464d;
    border: 2px solid #838085;
    padding: 2em;
    color: #bcbabe;
}

#XfceNotifyWindow:hover {
    background-color: #666369;
    color: #d8d7da;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #f5f4f7;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #bcbabe;
}

#XfceNotifyWindow button:hover {
    background-color: #838085;
}
