#XfceNotifyWindow {
    background-color: #f81118;
    border: 2px solid #ecba0f;
    padding: 2em;
    color: #4e5ab7;
}

#XfceNotifyWindow:hover {
    background-color: #2dc55e;
    color: #1081d6;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #d6dbe5;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #4e5ab7;
}

#XfceNotifyWindow button:hover {
    background-color: #ecba0f;
}
