#XfceNotifyWindow {
    background-color: #eee8d5;
    border: 2px solid #839496;
    padding: 2em;
    color: #586e75;
}

#XfceNotifyWindow:hover {
    background-color: #93a1a1;
    color: #073642;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #002b36;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #586e75;
}

#XfceNotifyWindow button:hover {
    background-color: #839496;
}
