#XfceNotifyWindow {
    background-color: #2c2421;
    border: 2px solid #766e6b;
    padding: 2em;
    color: #a8a19f;
}

#XfceNotifyWindow:hover {
    background-color: #68615e;
    color: #e6e2e0;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #f1efee;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #a8a19f;
}

#XfceNotifyWindow button:hover {
    background-color: #766e6b;
}
