#XfceNotifyWindow {
    background-color: #242422;
    border: 2px solid #6c6c66;
    padding: 2em;
    color: #b5b3aa;
}

#XfceNotifyWindow:hover {
    background-color: #484844;
    color: #d9d7cc;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #fdfbee;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #b5b3aa;
}

#XfceNotifyWindow button:hover {
    background-color: #6c6c66;
}
