#XfceNotifyWindow {
    background-color: #{{base01-hex}};
    border: 2px solid #{{base03-hex}};
    padding: 2em;
    color: #{{base05-hex}};
}

#XfceNotifyWindow:hover {
    background-color: #{{base02-hex}};
    color: #{{base06-hex}};
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #{{base07-hex}};
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #{{Base03-hex}};
    box-shadow: none;
    color: #{{base05-hex}};
}

#XfceNotifyWindow button:hover {
    background-color: #{{base03-hex}};
}
