#XfceNotifyWindow {
    background-color: #293256;
    border: 2px solid #6b7394;
    padding: 2em;
    color: #979db4;
}

#XfceNotifyWindow:hover {
    background-color: #5e6687;
    color: #dfe2f1;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #f5f7ff;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #979db4;
}

#XfceNotifyWindow button:hover {
    background-color: #6b7394;
}
