#XfceNotifyWindow {
    background-color: #34353e;
    border: 2px solid #78787e;
    padding: 2em;
    color: #eff0eb;
}

#XfceNotifyWindow:hover {
    background-color: #4a4b53;
    color: #f1f1f0;
}

#XfceNotifyWindow label {
}
#XfceNotifyWindow button label {
    font-weight: 900;
    font-size: 1rem;
    text-shadow: none;
}

#XfceNotifyWindow label#summary {
    font-size: 1.125rem;
    font-weight: 900;
    color: #f1f1f0;
}

#XfceNotifyWindow button {
    background-image: none;
    background-color: transparent;
    border: 2px solid #;
    box-shadow: none;
    color: #eff0eb;
}

#XfceNotifyWindow button:hover {
    background-color: #78787e;
}
